@import url("@/lib/Variables.css");

/*header containers */
.header_logo_container {
  flex: 1;
}

.header_storages-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header_button_container {
  flex: 1;

  display: flex;
  justify-content: flex-end;
}

/*In storage container (2)*/
.storage-logo-box {
  flex: 1;
  display: flex;
  justify-content: center;

  max-width: 10%;
  max-height: 70%;

  min-width: 15%;
  max-height: 50%;

  cursor: pointer;
}
/*In logo container (1)*/
#logo_box {
  width: 15%;
  min-width: 50px;
  height: 70%;
  min-height: 50px;

  will-change: filter;
  transition: filter 300ms;

  padding-top: 0.3em;
  /* margin: auto;
  display: block; */
}

#logo_link {
  z-index: 99;
  cursor: pointer;
}

/*In button container (3)*/
#button_login {
  margin-left: auto;
  padding: 1em;

  width: 10%;
  min-width: 100px;
}
