@import url("@/lib/Variables.css");

#header_logo_container {
  width: 90%;
}

#logo_box {
  width: 8%;
  min-width: 50px;
  height: 70%;
  min-height: 50px;

  will-change: filter;
  transition: filter 300ms;

  padding-top: 0.3em;
  /* margin: auto;
  display: block; */
}

#logo_link {
  z-index: 99;
  cursor: pointer;
}

#header_login {
  width: 10%;
  min-width: 100px;
  padding: 1em;

  margin: auto;
  display: block;
}
