@import url("@/lib/Variables.css");
/* #box-container {
  padding: 0 0.25em 0.25em 0.25em;
  box-sizing: border-box;

  background: #f9f9f9;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #219ebc;
} */

#post-container {
  flex: 0.5;
  justify-content: "flex-end";
}
#post-box-in {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#post-title {
  padding-left: 5px;
  min-width: 20px;

  flex: 1.2;

  text-align: left;
  font-weight: bold;
  font-size: var(--fontSize_medinum);
}

#post-wd {
  margin-right: 2px;

  min-width: 10px;
  flex: 0.5;

  text-align: right;
}

#post-edcontainer {
  justify-content: flex-end;
  padding: 0 2px 0.5em 0;
  border-bottom: 0.5px solid gray;
}
#post-ed {
  width: 9%;
  margin-right: 3px;
  flex: 1;
  /* 회색의 얇은 경계선 추가 */
  border: 0.2px solid var(--color_LightBlue);

  /* 애니메이션 효과를 위한 transition 속성 추가 */
  transition: transform 0.3s ease;
}
#post-ed:hover {
  cursor: pointer;
  background-color: var(--color_LightBlue);
  color: white;
  /* 마우스를 올리면 버튼이 통통 튀는 애니메이션 효과 */
  transform: scale(1.05);
}

#post-content {
  flex: 1;
  min-height: 4em;
  text-align: left;
}

#post-comment {
  cursor: pointer;
  flex: 9;
  text-align: left;
  padding-left: 5px;
}
